# Documentation: http://docs.travis-ci.com/user/languages/julia
language: julia
julia:
  - 1
  - 1.0
  - nightly
os:
  - linux
  - osx
  - windows
arch:
  - x64
cache:
  directories:
    - ~/.julia/artifacts
jobs:
  fast_finish: true
  allow_failures:
    - julia: nightly
  include:
    - stage: Documentation
      julia: 1
      script: |
        julia --project=docs -e '
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
          using Documenter: doctest
          using PDMatsExtras
          doctest(PDMatsExtras)
          include("docs/make.jl")'
      after_success: skip
notifications:
  email:
    recipients:
      - nightly-dev@invenia.ca
    on_success: never
    on_failure: always
    if: type = cron
